.scrolledHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}
/* ApplyScholarships.module.css */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the page takes full height */
  }
  
  .main-content {
    flex: 1; /* This allows the main content to grow and push the footer down */
  }
  